/* .container {
	max-width: 960px;
} */

/*
* Custom translucent site header
*/
#nav {
    background-color: #034bb9;
}

.logo {
    width: 1000px;
    margin: 0 auto;
    padding: 5px 5px 5px 5px;
}

/* 导航条 */
.site-header {
    background-color: rgb(3, 75, 185);
    /* rgba(0, 0, 0, .85)  #d3d3d3*/
    font-family: '微软雅黑';
    /* font-size: 40px; */
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
    padding: 0px;
}

.site-header a {
    /* #999  #333*/
    /* background-color: white; */
    color: white;
    transition: ease-in-out color .15s;
    font-size: 18px;
}

.site-header a:hover {
    background-color: #000066;
    text-decoration: none;
}

/* 页面 */
.page {
    width: 100%;
    margin: 0;
    padding: 0;
    max-width: 100%;
    min-height: 100%;
    /* overflow: hidden; */
}

/* 轮播图 */
.carousel-inner img {
    width: 100%;
    height: 100%;
}

.js-toc-content h3 {
    font-size: 1.1rem;
}

.avatar {
    height: 256px;
    width: 180px;
}

.main {
    max-width: 100%;
    height: 259px;
    margin: 40px 0 0 0;
    /* display: flex; */
    padding-bottom: 50px;
}

/* card */
.card-top {
    background-color: #fff;
    border-bottom: 2px dashed rgb(3, 75, 185);
    height: 40px;
    display: inline flex;
    overflow: hidden;
}

.card-tit {
    color: rgb(3, 75, 185);
    font-size: calc(0.8em + 0.3vw);
    font-weight: 600;
}

.learnMore {
    font-size: 0.7em;
    font-weight: 0;
}

.brief {
    display: flex;
    color: #666;
    font-size: 14px;
}

#news {
    margin-top: 20px;
    margin-bottom: 20px;
}

.news-i {
    height: auto;
    width: 100%;
    padding: 5px 20px;
    display: inline-block;
}

.news-item-i {
    color: #666;
    font-size: 14px;
    margin: 6.5px 0;
}

.news-link-i {
    display: flex;
    cursor: pointer;
    text-decoration: none;
    color: #666;
}

a.news-link-i:hover {
    text-decoration: none;
}

.news-title-i {
    justify-content: flex-start;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
    /* min-width: 100%; */
    /* margin-right: 70px; */
}

.news-time-i {
    justify-content: flex-start;
    width: 150px;
    float: right;
}

#member{
    margin-top: 30px;
    margin-bottom: 30px;
}
#member .row .card .card-body .figure .figure-caption h5{
    font-size: calc(0.8em + 0.3vw);
}
/* footer */
#footer {
    margin-top: 50px;
}

.bottomPage {
    background-color: #333;
    /* align-items: center; */
}



/* Add toc's code 
ref: https://fuerain.ink/archives/handsome-modify-record.html#anchor-6
*/
@media (min-width:1400px) {
    .post-toc-content {
        position: relative;
        z-index: 100;
        width: 100%;
        margin-right: auto !important;
        margin-left: auto !important;
        text-align: right;
    }

    .post-toc {
        margin-left: 10px;
        border-left: 1px solid rgba(221, 221, 221, 0.32);
        /* font-size: 12px; */
        position: fixed;
        z-index: 0;
        top: 80px;
        display: inline-block;
        text-align: left;
        padding-left: 10px;
        margin-top: 80px;
        /* overflow-y: hidden; */
    }
}

@media (max-width:1400px) {
    .post-toc {
        display: none;
    }
}

/* Add toc's code */