.container {
	max-width: 960px;
}

/*
   * Custom translucent site header
   */

.site-header {
	background-color: rgba(0, 0, 0, .85);
	/* rgba(0, 0, 0, .85)  #d3d3d3*/
	-webkit-backdrop-filter: saturate(180%) blur(20px);
	backdrop-filter: saturate(180%) blur(20px);
}

.site-header a {
	color: #999;
	/* #999  #333*/
	transition: ease-in-out color .15s;
}

.site-header a:hover {
	color: #fff;
	text-decoration: none;
}

.carousel-inner img {
	width: 100%;
	height: 100%;
}

.js-toc-content h3 {
	font-size: 1.1rem;
}

.avatar {
	height: 256px;
	width: 180px;
}
/* Add toc's code 

ref: https://fuerain.ink/archives/handsome-modify-record.html#anchor-6
*/
@media (min-width:1400px) {
	.post-toc-content {
		position: relative;
		z-index: 100;
		width: 100%;
		margin-right: auto !important;
		margin-left: auto !important;
		text-align: right;
	}

	.post-toc {
		margin-left: 10px;
		border-left: 1px solid rgba(221, 221, 221, 0.32);
		/* font-size: 12px; */
		position: fixed;
		z-index: 0;
		top: 80px;
		display: inline-block;
		text-align: left;
		padding-left: 10px;
		/* overflow-y: hidden; */
	}
}

@media (max-width:1400px) {
	.post-toc {
		display: none;
	}
}

/* Add toc's code */